version: '3.8'

services:
  api:
    build: .
    container_name: muen-api-container
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always